:root{
  --primario: #fff;
  --secundario: #376DF6;
  --letra: #111111;
  /* https://www.color-hex.com/color-palette/16812 */
}

html{
  font-size: 62.5%;
  box-sizing: border-box;
}

*, *::before, *::after{
  box-sizing: inherit;
}

body{
  background-color: var(--primario);
  margin: 0;
}

.no-margin{
  margin: 0;
}

.no-padding{
  padding: 0;
}

.flex{
  display: flex;
}

.grid{
  display: grid;
}

a{
  text-decoration: none;
  color: inherit;
}

h1{
  font-size: 5rem;
}

h2{
  font-size: 3rem;
}

#app {
  margin: 0 auto;
  width: 100%;

  color: var(--letra);
  font-family: 'Dosis', sans-serif;
  font-weight: normal;
}