:root{
  --primario: #0d0d0d;
  --secundario: #376DF6;
  --letra: #fff;
  /* https://www.color-hex.com/color-palette/16812 */
}

html{
  font-size: 62.5%;
  box-sizing: border-box;
}

*, *::before, *::after{
  box-sizing: inherit;
}

body{
  background-color: var(--primario);
  margin: 0;
}

.no-margin{
  margin: 0;
}

.no-padding{
  padding: 0;
}

.flex{
  display: flex;
}

.grid{
  display: grid;
}

h1{
  font-size: 5rem;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;

  color: var(--letra);
  font-family: 'Montserrat', sans-serif;

  font-weight: normal;
}